**. Data import with Pandas
Pandas input output API provides several functions that can be used to import and export various file formats.

Below is the list of file formats and the corresponding functions to import these file formats.

Flat files - read_csv(), to_csv()

Excel files - read_excel(), ExcelWriter(), to_excel()

JSON files - read_json(), to_json()

HTML tables - read_html(), to_html()

SAS files - read_sas()

SQL files - read_sql(), read_sql_query(), read_sql_table(), to_sql()

STATA files - read_stata(), to_stata()

pickle object - read_pickle(), to_pickle()

HDF5 files - read_hdf(), to_hdf()**

In [ ]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# initialize data of lists.
data = {'Name':['Vamshi','Sairam','Madhan','Rahul','Ashok','Ravi','Praveen'],
        'Age_Sex':['20_M', '21_M', '25_M', '30_M','45_M','32_M','200_M'],
        'height(cm)':[160,-175.5,140.7,0.0,np.NaN,162.4,165],
        'Weight(kg)':[80, 67, np.NaN, 62.5, 66.4, np.NaN, 73],
        'Spend_A':[2000,3000,5000,7000,np.NaN,-2000, np.NaN],
        'Spend_B':[200, 500, 1500, 1700, 2000, np.NaN,750],
        }
  
# Create DataFrame
df = pd.DataFrame(data)
  
# Print the output.
df

In [ ]:
data

**Exploratory data analysis**

**check the type of df**

I have imported the dataset. The next step is to check its type. We can check its type with the following command:-**

In [ ]:
type(df)

In [ ]:
df.shape

In [ ]:

df.head()

In [ ]:
df['Weight(kg)'].sort_values()

In [1]:
df.info()

NameError: ignored

In [ ]:
df.isnull().sum()

df.isna().sum()

detect ‘NA’ values in a particular column in the dataframe

pd.isna(df[‘col_name’])

df[‘col_name’].notna()

In [ ]:
df['height(cm)'].notna()

In [ ]:
df.isna().sum()

Encode missing numerical values


Missing values are encoded in different ways. 

They can appear as NaN, NA, ?, zeros, xx, -1 or a blank space “ ”. We can use various pandas methods to deal with missing values.

But, pandas always recognize missing values as NaN. So, 

it is essential that we should first convert all the ?, zeros, xx, -1 or “ ” to NaN. 

If the missing values isn’t identified as NaN, then we have to first convert or replace such non NaN entry with a NaN.

In [ ]:
#Convert '?' to ‘NaN’
df[df == '?'] = np.nan

Handle missing numerical values

Drop missing values with dropna() method

Fill missing values with zeros

Fill missing values backward or forward

The pad or fill option fill values forward, while bfill or backfill option fill values backward.

In [ ]:
df.columns

In [ ]:
df[['Name', 'Weight(kg)']].head()

sometimes we can see that the first element of each column are NaN. 

So, in this case pad or fill option does not work. Here, we should use bfill or backfill options as follows:-

In [ ]:
df = df.fillna(method = 'backfill')

Check with ASSERT statement
Asserts

Check with ASSERT statement
Finally, we should check for missing values programmatically. 


If we drop or fill missing values, we expect no missing values. We can write an assert statement to verify this. So, 

we can use an assert statement to programmatically check that no missing or unexpected '0' value is present. This gives confidence that our code is running properly.

Assert statement will return nothing if the value being tested is true and will throw an AssertionError if the value is false.



• assert 1 == 1 (return Nothing if the value is True)

• assert 1 == 2 (return AssertionError if the value is False)

Indexing and slicing in pandas

.loc - Label based


.iloc - Integer based


.ix - Both Label and Integer based

In [ ]:
# select first row of dataframe
df.loc[0]

In [ ]:
#select first five rows for a specific column

df.loc[:,'Spend_A'].head()

Rows selection using .iloc indexer
Below are the examples of row selection using .iloc indexer

select first row of dataframe
df1.iloc[0]

select second row of dataframe
df1.iloc[1]

select last row of dataframe
df1.iloc[-1]

select second last row of dataframe
df1.iloc[-2]

In [ ]:
df.head()

In [ ]:
# to select all columns except last column
df.iloc[:,:-2]

In [ ]:
df

In [ ]:
df.iloc[:,:-2]

In [ ]:
df.iloc[3]

Multiple rows and columns selection using .iloc indexer
select first five rows of dataframe
df1.iloc[0:5]

select first five columns of data frame with all rows
df1.loc[:, 0:5]

select 1st, 5th and 10th rows with 1st, 4th and 7th columns
df1.iloc[[0,4,9]], [0,3,6]]

select first 5 rows and 5th, 6th, 7th columns of data frame
df1.iloc[0:5, 5:8]

In [ ]:
df.iloc[[0,3,5], [0,3,4]]

Indexing first occurrence of maximum or minimum values with idxmax() and idxmin()
Pandas provide two functions idxmax() and idxmin() 

that return index of first occurrence of maximum or minimum values over requested axis. 

NA/null values are excluded from the output.

In [ ]:
# get index of first occurence of maximum Weight(kg) value 

df['Weight(kg)'].idxmax()

In [ ]:
# get the row with the maximum Weight(kg) value 

df.loc[df['Weight(kg)'].idxmax()]

Indexing a single value with at() and iat()


Pandas provides at() and iat() functions to access a single value for a row and column pair by label or by integer position.

In [ ]:
df.head()

In [ ]:
# get value at 1st row and Weight(kg) column pair

df.at[1, 'Spend_A']

In [ ]:
# get value at 1st row and 4th column pair

df.iat[2, 3]

In [ ]:
# get the purchase amount with a given user_id and product_id

df.loc[((df['Weight(kg)'] == 80.0) & (df['Name'] == 'Vamshi')), 'height(cm)']

In [ ]:
food = pd.DataFrame({'Place':['Home', 'Home', 'Hotel', 'Hotel'],
                   'Time': ['Lunch', 'Dinner', 'Lunch', 'Dinner'],
                   'Food':['Soup', 'Rice', 'Soup', 'Chapati'],
                   'Price($)':[10, 20, 30, 40]})

food

**Set an index
DataFrame has a set_index() method which takes a column name (for a regular Index) or a list of column names (for a MultiIndex).


 This method sets the dataframe index using existing columns.

I will create a new, re-indexed DataFrame with set_index() method as follows:-**

In [ ]:
food_indexed1=food.set_index('Place')

food_indexed1

In [ ]:
food_indexed2=food.set_index(['Place', 'Time'])

food_indexed2

**Reset the index**

In [ ]:
food_indexed2.reset_index()

**Sorting in pandas
Pandas provides two kinds of sorting. They are:-

Sorting by label

Sorting by actual value**



**Sorting by label
We can use the sort_index() method to sort the object by labels. DataFrame can be sorted by passing the axis arguments and the order of sorting. By default, sorting is done on row labels in ascending order.

The following examples illustrate the idea of sorting by label.**

In [ ]:
df.head()

In [ ]:
# sort the dataframe df by label

df.sort_index()

In [ ]:
df.sort_values(['Age_Sex'])

**Sort by multiple columns
df2.sort_values(by=['Product_Category_1', 'Product_Category_2'])

Sort in descending order
df2.sort_values(by='Product_Category_1', ascending=False)**

**Description of categorical data**

In [ ]:
df.describe(include='object').T

In [ ]:
df['height(cm)'].describe()



*   List iteDataframe basic functionality
The following tables lists the important attributes or methods in Dataframe basic functionality.

T - Transposes rows and columns.

axes - Returns a list with the row axis labels and column axis labels as the only members.


dtypes - Returns the dtypes in this object.


empty - True if NDFrame is entirely empty [no items]; if any of the axes are of length 0.


ndim - Number of axes / array dimensions.


shape - Returns a tuple representing the dimensionality of the Dataframe.


size - Number of elements in the NDFrame.


values - Numpy representation of NDFrame.


head() - Returns the first n rows.


tail() - Returns last n rows.m

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.head()

In [ ]:
df['height(cm)'].sum()

In [ ]:
df['height(cm)'].std()

In [ ]:
df['height(cm)'].min()

In [ ]:
df['height(cm)'].max()

In [ ]:
df['height(cm)'].abs()



*   List item1 count() - Number of non-null observations


2 sum() - Sum of values


3 mean() - Mean of values


4 median() - Median of values


5 mode() - Mode of values


6 std() - Standard deviation of the values


7 min() - Minimum value


8 max() - Maximum value


9 abs() - Absolute value


10 prod() - Product of values


11 cumsum() - Cumulative sum


12 cumprod() - Cumulative product
*

In [ ]:
# view the covariance

df.cov()

**Correlation
Correlation shows the linear relationship between any two array of values (series). 
There are multiple methods to compute the correlation. These methods are listed below:-

Method name Description

pearson (default) - Standard correlation coefficient*


spearman - Spearman rank correlation coefficient

In [ ]:
# view the correlation

df.corr()

**Data Ranking**

The rank() supports different tie-breaking methods, specified with the method parameter as follows:-

average - average rank of tied group


min - lowest rank in the group


max - highest rank in the group


first - ranks assigned in the order they appear in the array**

In [ ]:
df.rank(1).head()

In [ ]:
df.head()

In [ ]:
df['height(cm)'].count()

In [ ]:
df['height(cm)'].sum()

In [ ]:
df['Weight(kg)'].var()

**If the skewness is between -0.5 and 0.5, the data are fairly symmetrical. 

If the skewness is between -1 and – 0.5 or between 0.5 and 1, the data are moderately skewed. 

If the skewness is less than -1 or greater than 1, the data are highly skewed.*

In [ ]:
df['height(cm)'].skew()

**It is actually the measure of outliers present in the distribution .

 High kurtosis in a data set is an indicator that data has heavy tails or outliers. ... 
 
 It means that the extreme values of the distribution are similar to that of a normal distribution characteristic.*

 asymmetry and kurtosis between -2 and +2

In [ ]:
df['height(cm)'].kurt()



* count() - Number of non-null observations


sum() - Sum of values

mean() - Mean of values


median() - Arithmetic median of values


min() - Minimum


max() - Maximum


std() - Standard deviation


var() - Variance


skew() - Skewness


kurt() - Kurtosis


quantile() - Quantile


apply() - Generic apply


cov() - Covariance


corr() - Correlation

**Aggregations in pandas**

In [ ]:
df.head()

In [ ]:
df['height(cm)'].aggregate(np.sum)

In [ ]:
df['height(cm)'].aggregate([np.sum, np.mean])

In [ ]:
df[['height(cm)', 'Weight(kg)', 'Spend_A']].aggregate(np.mean)

In [ ]:
df[['height(cm)', 'Weight(kg)', 'Spend_A']].aggregate([np.sum, np.mean])

In [ ]:
df.aggregate({'height(cm)' : np.sum ,'Weight(kg)' : np.mean})

In [ ]:
# let's create two dataframes

batsmen = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Rohit', 'Dhawan', 'Virat', 'Dhoni', 'Kedar'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})

bowler = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Kumar', 'Bumrah', 'Shami', 'Kuldeep', 'Chahal'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})


print(batsmen)


print(bowler)

Merge using 'how' argument
The how argument to merge specifies how to determine which keys are to be included in the resulting table. If a key combination does not appear in either the left or the right tables, the values in the joined table will be NA.

Here is a summary of the how options and their SQL equivalent names −

Merge Method - SQL Equivalent - Description


left - LEFT OUTER JOIN - Use keys from left object


right - RIGHT OUTER JOIN - Use keys from right object


outer - FULL OUTER JOIN - Use union of keys


inner - INNER JOIN - Use intersection of keys

In [ ]:
# left join

pd.merge(batsmen, bowler, on='subject_id', how='left')

In [ ]:
# right join

pd.merge(batsmen, bowler, on='subject_id', how='right')

In [ ]:
# outer join

pd.merge(batsmen, bowler, on='subject_id', how='outer')

**Pandas concatenation operation**

In [ ]:
# let's create two dataframes

batsmen = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Rohit', 'Dhawan', 'Virat', 'Dhoni', 'Kedar'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})

bowler = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Kumar', 'Bumrah', 'Shami', 'Kuldeep', 'Chahal'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})


print(batsmen)


print(bowler)

In [ ]:
# concatenate the dataframes


team=[batsmen, bowler]

pd.concat(team)

In [ ]:
team

In [ ]:
# associate keys with the dataframes

pd.concat(team, keys=['x', 'y'])

In [ ]:
pd.concat(team, axis=0)

**Concatenating using append**

In [ ]:
batsmen

In [ ]:
batsmen.append(bowler)

In [ ]:
bowler.append(batsmen)

In [ ]:
df.head()

**Reshaping by melt and pivot
Melt creates wide-to-long format dataframe**

In [ ]:
# Melt is nothing but Decreasing its widening data and increasing its length and pivot is the reverse for the melt function

In [ ]:
pd.melt(frame=df, id_vars=['Name','height(cm)','Age_Sex','Weight(kg)'],
                    value_vars=['Spend_A','Spend_B'], var_name='expenditure', value_name='amount')

**Reshaping by stacking and unstacking**

In [ ]:
# reshaping the rows and columns
cols=pd.MultiIndex.from_tuples([('weight', 'kg'), ('weight', 'pounds')])

df15=pd.DataFrame([[75,165], [60, 132]],
                 index=['husband', 'wife'],
                 columns=cols)

df15

In [ ]:
df16=df15.stack()

df16

**Unstacking
It is the inverse operation of stacking. It means "pivot" a level of the 

(possibly hierarchical) row index to the column axis, producing a reshaped

 dataframe with a new inner-most level of column labels.**

In [ ]:
df16.unstack()

        weight
            kg pounds
husband     75    165
wife        60    132

**Options and customization with pandas**



* The API is composed of five relevant functions. They are as follows :−

get_option()


set_option()


reset_option()


describe_option()


option_context()
*

In [ ]:
df.head()

In [ ]:
# display maximum rows

pd.get_option("display.max_rows")

In [ ]:
pd.get_option("display.max_columns")

In [ ]:
# set maximum rows

pd.set_option("display.max_rows", 80)

pd.get_option("display.max_rows")

In [ ]:
# set maximum columns

pd.set_option("display.max_columns", 30)

pd.get_option("display.max_columns")

In [ ]:
# reset_option() takes an argument and sets the value back to the default value.

# display maximum rows

pd.reset_option("display.max_rows")

pd.get_option("display.max_rows")

In [ ]:
# display maximum columns

pd.reset_option("display.max_columns")

pd.get_option("display.max_columns")

**Pandas GroupBy operations
A groupby operation involves one of the following operations on the original object. They are as follows:−

Splitting the Object

Applying a function

Combining the results**

**Aggregation − compute a summary statistic (or statistics) for each group. Some examples are:-

Compute group sums or means.

Compute group sizes / counts.



Transformation − perform some group-specific computations and return a like-indexed object. Some examples are :-

Standardize data (zscore) within a group.

Filling NAs within groups with a value derived from each group.




Filtration − discarding the data with some condition. Some examples are :-

Discard data that belongs to groups with only a few members.

Filter out data based on the group sum or mean.**

In [ ]:
df.head()

In [ ]:
df_grouped = df.groupby('Name')

for Vamshi, Rahul in df_grouped:
  print (Rahul)
  print (Vamshi)

**Select a group
Using the get_group() method, we can select a single group.**

In [ ]:
df_grouped = df.groupby('height(cm)')

df_grouped.get_group(160.0)

**Aggregation functions with groupby
An aggregation function returns a single aggregated value for each group. Once the group by object is created, several aggregation operations can be performed on the grouped data as follows:-

apply aggregation function sum with groupby

df8.groupby('Gender').sum()

alternative way to apply aggregation function sum

df8.groupby('Gender').agg(np.sum)

Another way to see the size of each group is by applying the size() function as follows:-

df8_grouped = df8.groupby('Gender')

print(df8_grouped.agg(np.size))**

In [ ]:
# It represents the total sum of each column by name
df.groupby('Name').agg(np.sum)

In [ ]:
# It returns all the size of the data in a data frame
df.groupby('Weight(kg)').agg(np.size)

**sum(): It returns the sum of the data frame
Syntax:

dataframe[‘column].sum()**

**mean(): It returns the mean of the particular column in a data frame
Syntax:

dataframe[‘column].mean()**

**std(): It returns the standard deviation of that column.
Syntax:

dataframe[‘column].std()

**

**var(): It returns the variance of that column
dataframe[‘column’].var()*

**Applying multiple aggregation functions at once


With grouped series, you can also pass a list or dict of functions to do 

aggregation with, and generate dataframe as output as follows:-*

In [ ]:
# it returns sum of the dataframe and mean of the particular column
df.groupby('Name')['height(cm)'].agg([np.sum, np.mean])

*Filtration
Filtration filters the data on a defined criteria and returns the subset of data. 


The filter() function is used to filter the data.**